/** @format */

@import '~slick-carousel/slick/slick.css';
@import '~slick-carousel/slick/slick-theme.css';

html,
body {
  padding: 0;
  margin: 0;
}

/* index.css page  */

.dflex {
  position: absolute;
  top: 30%;
}

/* */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Poppins'), url(/web-fonts/Poppins-Regular.ttf);
}
/*  */
.hideBody {
  display: none;
}

.marTB20 {
  margin: 20px 0px;
}

.width99vw {
  width: 99vw;
}

.container-fluid {
  padding: 10px;
}

/* postion css layout  */

.relativepos {
  position: relative;
}

.absolutepos {
  position: absolute;
}

/* view layout height css */

.leftConetent {
  height: 100%;
}

.sechduleContentcomm {
  height: 20%;
}

.progressContentComm {
  height: 15%;
}

.progContent {
  height: 15%;
}

.slctheight {
  height: 10%;
}
.scrollCarcontnt {
  height: 45%;
}

.btnheightContent {
  height: 10%;
}

.height9 {
  height: 9%;
}

.height100vh {
  height: 100vh;
  /* border: 1px solid red; */
}

.height10 {
  height: 10%;
  /* border: 1px solid red; */
}

.height15 {
  height: 15%;
  /* border: 1px solid rgb(107, 96, 170); */
}

.height20 {
  height: 20%;
  /* border: 1px solid red; */
}

.height25 {
  height: 25%;
  /* border: 1px solid darkblue; */
}

.height30 {
  height: 30%;
  /* border: 1px solid red; */
}
.height35 {
  height: 35%;
  /* border: 1px solid red; */
}
.height40 {
  height: 40%;
  /* border: 1px solid blue; */
}
.height45 {
  height: 45%;
  /* border: 1px solid blue; */
}

.height50 {
  height: 50%;
  /* border: 1px solid red; */
}
.height55 {
  height: 55%;
}
.height60 {
  height: 60%;
  /* border: 1px solid red; */
}
.height70 {
  height: 70%;
  /* border: 1px solid red; */
}
.height80 {
  height: 80%;
  /* border: 1px solid red; */
}
.height90 {
  height: 90%;
  /* border: 1px solid red; */
}
.height98 {
  height: 98%;
  /* border: 1px solid rgb(0, 255, 200); */
}
.height100 {
  height: 100%;
  /* border: 1px solid rgb(47, 0, 255); */
}
.secondContentH {
  height: 100%;
}
/* .height94vh {
  height: 94vh;
} */
.height98vh {
  height: 98vh;
  /* border: 1px solid rgb(0, 183, 255); */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* .carousel buttons */
.carousel-btn {
  border: none;
  border-radius: 50%;
  color: #324ee2;
  position: absolute;
  width: 35px;
  height: 35px;
  padding: 0 10px;
}
.carousel-btn.left {
  bottom: 53%;
  left: 25%;
}
.carousel-btn.right {
  bottom: 53%;
  right: 25%;
}

.display-flex {
  display: flex;
}

/* css writen by rakesh roushan  */

.pickContent {
  background: #fafbfe;
  border-radius: 30px;
  padding: 25px 24px;
}
.pickContent h6 {
  font-family: poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #212545;
  margin-bottom: 24px;
}
.pickContent select {
  border-radius: 10px;
  border: none;
  font-size: 12px !important;
  margin: 0;
  width: 100%;
  margin-bottom: 30px;
  outline: none;
  border: none;
  color: #7e829d;
  background: #fafbfe;
  font-family: poppins;
  height: 35px;
  padding-left: 10px;
  -webkit-appearance: none;

  background: url('./../public/down-arrow.svg') no-repeat right #f8f8fd !important;
  background-position-x: 96% !important;

  /* padding: 0 9px 0 15px !important; */
  -webkit-padding-end: 31px !important;
  /* -webkit-padding-start: 10px !important; */
}

.pickContent select:hover {
  background-color: rgba(0, 0, 0, 0.1) !important;
  /* color: #000000; */
  color: rgb(77, 80, 85);
}
.pickContent select:focus {
  background-color: rgba(0, 0, 0, 0.1) !important;
  /* color: #000000; */
  color: rgb(77, 80, 85);
  border-radius: 10px 10px 0px 0px;
}

.pickContent select option {
  margin: 40px;
  background: white;
  /* color: #fff; */
  /* text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4); */
  /* border-radius: 10px; */
  border: 1px solid blue !important;
}

/*
.pickcar{
  width:100%;
  height: 400px;
} */
.pickcar img {
  height: 425px;
  width: 100%;
  border-radius: 20px;
}

.pickcar p {
  margin-top: 10px;

  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #212545;
}
.pickcardesc p {
  /* font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #212545; */
  /* margin: 20px 0px; */

  font-family: poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */
  text-transform: capitalize;
  color: #212545;
}

.smallCarimg {
  margin: 15px 0px;
}
.smallCarimg img {
  border-radius: 20px;
}

.timechoose {
  padding: 0px 10px;
}
.timechoose ul {
  margin: 0;
  padding: 0;
}
.timechoose ul li {
  margin-right: 10px;
}
.timechoose p {
  font-family: poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  text-transform: capitalize;
  color: #212545;
}
.timechoose .slots {
  height: 30vh;
  overflow: auto;
}
.timechoose ul li {
  list-style-type: none;
  /* margin: 10px 30px 10px -30px !important; */
  padding: 10px 0px;
  background: #f2f4fd;
  border-radius: 10px;
  font-family: poppins;
  font-style: normal;
  text-align: center;
  color: #7e829d;
  line-height: 28px;
  margin-bottom: 10px;
}
.chooseTime {
  display: none;
}

.timechoose ul li:hover {
  background: #dee3ff;
  /* text-align: left; */
  color: #324ee2;
  /* padding-left: 20px; */
}

.timeContainer {
  position: relative;
  /* display: flex !important;
  justify-content: center !important; */
  align-items: center !important;
}
.timeContainer span:nth-child(1) {
  position: relative;
  left: 40%;
}

.selectedTimeContainer {
  display: flex !important;
  justify-content: space-between !important;
  padding: 10px 20px !important;
}
.timeContainer:hover {
  display: flex !important;
  justify-content: space-between !important;
  padding: 10px 20px !important;
}
.timeContainer:hover :nth-child(1) {
  left: 1%;
}

/* .timeContainer:nth-child(1) {
  width: 100% !important;
}
.timeContainer:nth-child(2) {
  /* width: 0% !important; */
/* visibility: hidden; */
/* }  */
.chooseTimeElement {
  display: flex;
  width: 50%;
}
.timechoose ul li:hover .chooseTime {
  /* margin-right: 10px !important; */
  display: block;
  /* float: right; */
  color: blue;
  padding: 0px 10px;
  cursor: pointer;
  /* text-align: center; */
  border: 1px solid #324ee2;
  box-sizing: border-box;
  border-radius: 10px;
  width: 95px;
}

.selected-time {
  /* margin-right: 10px; */
  display: block;
  /* float: right; */
  color: blue;
  padding: 0px 10px;
  cursor: pointer;
  text-align: center;
  border: 1px solid #324ee2;
  box-sizing: border-box;
  border-radius: 10px;
  width: 95px;
}

.no-time-slot {
  font-family: poppins;
  padding: 10px;
  font-size: 14px;
}

.tab-content {
  background: white;
  border-radius: 10px;
  overflow-y: auto;
  overflow-x: hidden;
  height: 33vh;
}

/* pick location css */
.dealershipContent {
  background: #fafbfe;
  border-radius: 30px;
  padding: 20px;
}
.delarshipBtn button {
  width: 33%;
  padding: 10px 0px;
  outline: none;
  background: #324ee2;
  border-radius: 10px;
}

.sechduleBody {
  height: 15%;
}

.sechduleBody3 {
  height: 20%;
  position: relative;
  top: 5%;
}

.tab-content ul {
  display: flex;
  justify-content: space-around;
}

.tab-content ul li {
  list-style-type: none;
  padding: 10px;
  font-size: 24px;

  font-weight: bold;
  color: gray;
}
.tab-content ul li a {
  color: gray;
  text-decoration: none;
}

.pick-location-desc h2 {
  /* font-size: 24px;
  font-weight: bold; */
  padding: 15px 0px;
  /* font-family: poppins; */

  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: #212545;
}
.mapContent img {
  /* width: 100%;
  height: 200px; */

  width: 100%;
  height: auto;
  min-height: 200px;
  /* max-height: 200px; */
  /* border: 1px solid red; */
  background-size: contain;
}

.dealarDesc {
  /* margin: 30px 0px; */
  padding-top: 20px;
}
.dealarDesc h2 {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  /* identical to box height */
  color: #212545;
}
.dealarDesc p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height, or 167% */
  color: #7e829d;
  margin: 15px 0px;
}

/* Basic info form  */
.slctText {
  width: 114px;
  height: 50px;
  background: #f8f8fd;
  border-radius: 10px;
  /* margin-right: 13px; */
  outline: none;
  border: none;
  font-family: poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 19px;
  color: #212545;
  background: url('./../public/down-arrow.svg') no-repeat right #f8f8fd;
  background-position-x: 90px;
  -webkit-appearance: none;

  padding: 0 9px 0 15px !important;
  -webkit-padding-end: 31px !important;
}

.basicInfoForm {
  margin: 15px 0px;
}
input[type='checkbox'] {
  height: 14px;
  width: 14px;
}
/*
.basicInfoForm input {
  height: 50px;
  background: #f8f8fd;
  border: none;
  border-radius: 10px;
  font-family: poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 19px;


  color: #000000;
} */

.basicInfoForm input[type='text'],
input[type='email'],
input[type='number'],
select {
  height: 50px;
  background: #f8f8fd;
  border: none;
  border-radius: 10px;
  font-family: poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 19px;
  box-sizing: border-box;
  color: #000000;
}

.basicInfoForm input[type='email'],
select {
  height: 50px;
  background: #f8f8fd;
  border: none;
  border-radius: 10px;
  font-family: poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 19px;
  box-sizing: border-box;
  color: #000000;
}

.basicInfoForm input[type='number'],
select {
  height: 50px;
  background: #f8f8fd;
  border: none;
  border-radius: 10px;
  font-family: poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 19px;
  box-sizing: border-box;
  color: #000000;
}

/* Chrome, Safari, Edge, Opera */
.basicInfoForm input::-webkit-outer-spin-button,
.basicInfoForm input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.basicInfoForm input[type='number'] {
  -moz-appearance: textfield;
}

/* .basicInfoForm input[type="submit"] {
  width: 100%;
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
} */

.text-selct label {
  width: 60%;
  margin: 0px 20px;
  font-family: poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  color: #212545;
}
.marTop75 {
  margin-top: 75px;
}

.agreeMentSection label {
  font-family: poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 19px;
  color: #000000;
}

.agreeMentSection label span {
  font-family: poppins;
  font-style: normal;
  /* font-weight: 500; */
  font-size: 13px;
  line-height: 19px;
  color: blue;
  cursor: pointer;
}
.policyErr {
  color: red;
  font-family: poppins;
  font-style: normal;
  /* font-weight: 500; */
  font-weight: bold;
  font-size: 13px;
  cursor: pointer;
}

/* licence proof css  */

.flexCenter {
  display: flex;
  justify-content: center;
}

.center-content {
  text-align: center;
  margin: 40px auto;
}

.center-content h1 {
  font-family: poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  /* identical to box height */
  text-align: center;
  color: #212545;
}

.center-content p {
  font-family: poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 200%;
  /* identical to box height, or 28px */
  text-align: center;
  color: #7e829d;
}

.btn-content {
  text-align: center;
}

.btn-content button {
  margin: 0px 10px;
}
.choseimgSec {
  /* height: 200px;
  width: 300px; */
  /* background-color: green; */
  /* margin: 50px auto; */
  text-align: center;
}

/* licence part 2 css  */

.licenceBtn {
  display: flex;
  text-align: center;
  /* margin: 0px auto; */
  width: 100%;
  justify-content: center;
}
.uploadDlsct {
  margin: 0px 10px;
}
.licenceBtn button {
  border-radius: 50%;
  background: #f4f6fd;
  margin: 0px 20px;
  width: 38px;
  height: 38px;
  border: none;
}
.choseimgSec1 {
  margin: 0px;
  text-align: center;
  padding: 20px;
}
.choseimgSec1 img {
  /* width: 100%; */
  border-radius: 30px;
  /* width: 50%; */
  margin: auto;
  width: 420px;
  height: 264px;
  object-fit: cover;
  /* width: auto; */
}

.padding7 {
  padding: 7px;
}

/* confirm  drive page css  */

.btnSecconfirm {
  float: right;
  margin: 40px 0px;
}

.picCard {
  /* height: 200px; */
  /* background-color: green; */
  margin: 5px;
}
.picCard img {
  width: 100%;
}
.mapAddress p:nth-child(1) {
  /* font-weight: bold;
  font-size: 24px; */

  margin: 15px 0px;

  font-family: poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */
  color: #212545;
}
.mapAddress p:nth-child(2) {
  margin-bottom: 30px;
  font-family: poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  color: #7e829d;
}
.slctDate {
  margin: 30px 0px;
  width: 100%;
}
.slctDate select {
  width: 100% !important;
}
.form-check label {
  font-weight: bold;
  font-family: poppins;
  font-style: normal;
  font-size: 13px;
  line-height: 19px;
  color: #000000;
}
.confirm-heading {
  /* text-align: center;
  font-weight: bold;
  margin: 30px;
  font-size: 50px; */

  font-family: poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 63px;
  text-align: center;
  text-transform: capitalize;
  color: #212545;
}
.confirmMap {
  width: 100%;
  border: none;
  border-radius: 20px;
}
.infoText p {
  /* color: gray;
  font-size: 20px;

  margin-top: 50px;

 */

  font-family: poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 19px;
  color: #7e829d;
}
.top50p {
  position: absolute;
  top: 50%;
}

.btnSec {
  float: right;
  margin: 40px 0px;
}
.viewDate select {
  /* background: #dee3ff; */
  border-radius: 10px;
  width: 100%;
  padding: 12px;
  margin-bottom: 40px;
  border: none;

  font-family: poppins;
  font-style: normal;
  font-weight: 600;
  /* font-size: 14px; */
  font-size: 0.75rem;
  line-height: 21px;
  /* identical to box height */
  text-transform: capitalize;
  color: #324ee2;
  background: url('./../public/slctgreen.png') no-repeat right #dee3ff;
  outline: none;
  /* background-position-x: 261px;
  -webkit-appearance: none;

  padding: 12px 20px !important;
  -webkit-padding-end: 31px !important; */

  /* background: url("./../public/down-arrow.svg") no-repeat right #f8f8fd; */
  background-position-x: 96%;
  -webkit-appearance: none;

  /* padding: 0 9px 0 15px !important; */
  -webkit-padding-end: 31px !important;
  -webkit-padding-start: 10px !important;
}
.viewDate {
  position: relative;
}
.viewDate p {
  position: absolute;
  font-family: poppins;
  top: 17%;
  right: 40px;
  font-style: normal;
  font-weight: 600;
  /* font-size: 14px; */
  font-size: 0.875rem;
  line-height: 21px;
  /* text-transform: capitalize; */
  color: #324ee2;
}

/* step progress bar  */

._2Jtxm::before {
  /* background: linear-gradient(to left, #f1f1f1 50%, #85938f 50%) !important;
 background-size: 25.8px 50px !important; */
  background: none !important;
  background-size: none !important;

  content: '.  .  .  .  .  .' !important;
  top: 14% !important;
  height: 0px !important;
  width: 100% !important;
  right: 50% !important;
}

._2Jtxm._35Ago ._2kL0S {
  box-sizing: border-box !important;
  box-shadow: 0px -1px 10px rgb(50 78 226 / 30%) !important;
  border: 4px solid #c6d5ef !important;
  /* background: rgba(50, 78, 226, 0.19) !important;        */
  /* opacity: 0.2; */
}

._2Jtxm._2ZUAI ._2JvrO {
  border: 4px solid #c6d5ef !important;
}
._53Ji7 {
  padding: 0px 0px !important;
  padding-top: 15px !important;
}

.stepProgress {
  position: relative;
}

.stepProgress .hidetext {
  position: absolute;
  border: 10px solid white;
  top: 22%;
  left: -3%;
  width: 10%;
  z-index: 1;
}

._1hzhf {
  width: 100%;
  color: #ccced9 !important;
  font-weight: bold;
  font-family: poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  /* identical to box height */
  text-align: center;
  /* color: #212545; */
}
/* privious and next button  */
._3uApM {
  display: none !important;
}
/* end progress bar css  */

/* scrollbar css globally  */

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgb(28, 134, 184) orange;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: rgba(126, 130, 157, 0.19);
}

*::-webkit-scrollbar-thumb {
  background-color: #324ee2;
  /* background-color: 3px solid #324EE2;; */
  border-radius: 20px;
  /* border: 3px solid orange; */
}

.svg-inline--fa {
  overflow: visible;
  vertical-align: middle;
}

/* setDrive css writen by rakesh roushan  */
/* .padTopBot30{
  padding: 30px 0px;
} */
.bgwhite {
  background-color: white;
}

.bggray {
  background: #e5e5e5;
}
.bgred {
  background-color: tomato;
}

/* set drive page css  */

.innercontent {
  height: 80vh;
  position: relative;
  top: 10%;
  padding: 20px;
}
.headTextContent {
  position: relative;
  top: 10%;
}

.content-sty {
  position: relative;
  top: 10%;
}

.innerdiv {
  background-color: darkcyan;
  border-radius: 30px;
}

.anotherVehicle {
  background-color: #f9f9fc;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.centerDiv {
  width: 60%;
  margin: auto;
  border-radius: 20px;
}
.centerDiv1 {
  width: 60%;
  margin: auto;
  padding: 20px;
  border-radius: 20px;
}

/* verify page css  */
/* .verifyContent {
} */
.verifyContent h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #212545;
}
.verifyContent p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  /* line-height: 231.4%;  */
  text-align: center;
  color: #7e829d;
}

/* loader css  */
.loaderContentp {
  margin: 90px 0px;
}

.loaderContent {
  display: flex;
  justify-content: center;
  justify-items: center;
  margin: 40px 0px;
}

.loader {
  border: 6px solid #f3f3f3;
  border-top: 6px solid #1c19f1;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  -webkit-animation: spin 2s linear infinite;
  -moz-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* end loader  */

/* input file button css  */
.btn-content .btn {
  font-size: 13px;
  font-weight: 600;
  font-family: 'poppins';
  background: rgba(53, 11, 204, 0.925);
  color: #f1f1f1;
  padding: 15px 30px;
  border-radius: 10px;
  outline: none;
  border: none;
}

.btn-file {
  position: relative;
  overflow: hidden;
  background: #324ee2;
  color: #ffffff;
}

.btn-file:hover {
  background: #6178f0 !important;
}
.btn-file:active {
  background: #1e37b6 !important;
}
.btn-file input[type='file'] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  cursor: inherit;
  display: block;
}

/* end  */
/* car slider css  */
.carSlidercss .carousel .thumb.selected {
  border: none;
}
.carSlidercss .carousel .thumb:hover {
  border: none;
}

.carSlidercss li.thumb {
  width: 30.3% !important;
}
.carSlidercss li.thumb img {
  width: 100%;
  height: 100px;
}
.carSlidercss .carousel .thumb img {
  vertical-align: top;
  border-radius: 12px;
  width: 100%;
  background-size: contain;
}

.carSlidercss .slider-wrapper p {
  display: none !important;
}

.carSlidercss .carousel .slide img {
  width: 100%;
  vertical-align: top;
  border: 0;
  border-radius: 20px;
  /* height: 100%; */
  /* width: 60%; */
  /* width: 80%; */
  margin: auto;
  /* object-fit: contain; */
}

.carSlidercss .carousel .slide {
  background-color: white !important;
}

.carSlidercss .carousel .thumb {
  border-radius: 10px;
}

/* slider css  */

/* .slider img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 30vh;
}

.li.slide.selected {
  background-color: white;
}
.li.slide {
  background-color: white;
} */

/* @calander css override   */

.react-calendar {
  width: 100% !important;
  background: none !important;
  border: none !important;
}

.react-calendar__month-view__days__day--weekend {
  font-family: poppins;
  font-style: normal;
  font-weight: 500;
  color: #324ee2 !important;
}
.react-calendar abbr[title] {
  text-decoration: none !important;
  cursor: pointer;
}

/* weekend name title  */
.react-calendar__month-view__weekdays {
  color: #7e829d;
  opacity: 0.7;
  text-transform: capitalize !important;
}
/* .react-calendar__month-view__weekdays__weekday {
  width: 50px;
  max-width: 50px !important;
  min-width: 50px !important;
} */

.react-calendar__tile--now {
  /* background: none !important; */
  background-color: rgba(0, 0, 0, 0) !important;
  /* background-image: url('./../public/grey-background.svg') !important;
  /* background-color: #006edc;  */
  /* You must set a specified height */
  /* background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: 40px 40px !important;  */
}

button.react-calendar__tile.react-calendar__month-view__days__day:hover {
  background-image: url('./../public/grey-background.svg');
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: 40px 40px !important;
  /* color: rgb(77, 80, 85); */
  color: #324ee2;
}
button.react-calendar__tile.react-calendar__month-view__days__day.react-calendar__month-view__days__day--weekend:hover {
  background-image: url('./../public/grey-background.svg');
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: 40px 40px !important;

  color: #324ee2;
}

/* button.react-calendar__tile.react-calendar__month-view__days__day.react-calendar__month-view__days__day--weekend:disabled:hover {
  background: none !important;
}
.react-calendar__tile.react-calendar__month-view__days__day:disabled:hover {
  background: none !important;
} */
.react-calendar__tile--active:hover {
  background-color: rgba(0, 0, 0, 0) !important;
  background-image: url('./../public/circle-background.svg') !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: 40px 40px !important;
  color: white !important;
}
.react-calendar__tile--active {
  background-color: rgba(0, 0, 0, 0) !important;
  background-image: url('./../public/circle-background.svg') !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: 40px 40px !important;
  color: white !important;
}
/* next and prev month css override   */

.manualReactCalendar button.react-calendar__navigation__arrow {
  position: absolute !important;
  min-width: 35px !important;
  /* background: rgba(50, 78, 226, 0.19) !important; */
  color: #324ee2;
  font-size: 30px;
  border: none;
  border-radius: 50%;
  height: 35px;
}
.react-calendar__tile {
  color: #324ee2;
}
.react-calendar__tile:disabled {
  background-color: rgb(28, 134, 184, 0) !important;
  color: grey !important;
}
.react-calendar__month-view__days__day--neighboringMonth {
  visibility: hidden !important;
}

.react-calendar__navigation__prev-button {
  right: 7vw !important;
  background: rgba(50, 78, 226, 0.19) !important;
}

.react-calendar__navigation__next-button {
  right: 7% !important;
  background: rgba(50, 78, 226, 0.19) !important;
}

/* hover and focus css in next and prev  */
.react-calendar__navigation {
  align-items: center;
}

.manualReactCalendar button.react-calendar__navigation__label {
  text-align: left;
  background: none;
  font-family: poppins;
  color: #212545;
  width: 70% !important;
  min-width: 50% !important;
  background: none !important;
}

.react-calendar__tile:hover {
  background-color: rgba(0, 0, 0, 0) !important;
  /*
  background-image: url('./../public/grey-background.svg') !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: 40px 40px !important; */
}
.react-calendar button {
  /* max-width: 6.5% !important; */
  overflow: hidden;
  /* margin: 0% 3.89% !important; */
  /* width: 50px;
  height: 50px;
  max-width: 50px !important;
  max-height: 50px !important;
  min-width: 50px !important;
  min-height: 50px !important; */
  background-color: none;
  /* background-image: url('./../public/circle-background.svg') !important; */
  /* background-color: #006edc;  */
  /* You must set a specified height */
  background-position: center !important; /* Center the image */
  background-repeat: no-repeat !important; /* Do not repeat the image */
  background-size: 40px 40px !important;
}
.min-width-desktop {
  min-width: 769px;
}
/* @media only screen and (min-width: 769px) {

} */
@media only screen and (max-width: 768px) {
  /* react calendar css mobile responsive  */

  .react-calendar button {
    line-height: 30px;
  }
  /* .react-calendar__month-view__days > button {
    max-width: 40px !important;
    height: 40px !important;
    width: 40px !important;
    line-height: 20px;
    margin: 0 !important;
  } */

  /* next and prev month css override   */

  .manualReactCalendar
    button.react-calendar__navigation__arrow.react-calendar__navigation__prev-button {
    position: absolute !important;
    background: rgba(50, 78, 226, 0.19);
    color: #324ee2;
    font-size: 30px;
    border-radius: 50%;
    max-width: 35px;
    height: 35px;
    border: none;
  }

  .react-calendar__navigation__prev-button {
    right: 20% !important;
  }

  .react-calendar__navigation__next-button {
    right: 5% !important;
    max-width: 28px;
  }

  .react-calendar button {
    overflow: hidden;
    background-color: none;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: 34px 34px !important;
  }
}

@media screen and (max-width: 1024px) {
  /* iPad Pro */
}

@media screen and (min-width: 769px) and (max-width: 1024) {
  /* Laptop */
  /* .react-calendar button {
    padding: 5px;
    max-width: 8.2% !important;
    overflow: hidden;
    margin: 2% 3% !important;
    padding: 5px;
  } */
  .manualReactCalendar button.react-calendar__navigation__arrow {
    position: relative !important;
  }
  .manualReactCalendar button.react-calendar__navigation__label {
    text-align: center !important;
    background: none;
    font-family: poppins;
    color: #212545;
    width: 100% !important;
    min-width: 50% !important;
  }
  .react-calendar__navigation__prev-button {
    right: 0% !important;
  }

  .react-calendar__navigation__next-button {
    right: 0% !important;
  }
  .react-calendar__navigation {
    justify-content: center;
  }
}
/* @media screen and (min-width: 769px) and (max-width: 1023) {

  .react-calendar button {
    padding: 5px;
    max-width: 8.2% !important;
    overflow: hidden;
    margin: 2% 3% !important;
    padding: 5px;
  }
} */

@media only screen and (max-width: 768px) {
  .timechoose .slots {
    height: 100%;
    overflow: auto;
    z-index: -1;
  }
  .marTB20 {
    margin: 0;
  }
  .timechoose p {
    margin-top: 40px;
  }
  .pickContent select {
    padding: 5px;
    margin-bottom: 15px;
    font-size: 14px !important;
  }

  .timechoose ul li {
    /* margin-left: -42px; */
    margin-bottom: 10px !important;
    margin-bottom: 10px;
  }

  .viewDate select {
    padding: 12px;
    margin-bottom: 15px;
  }
  .viewDate p {
    top: 23%;
    right: 28px;
    font-weight: 600;
  }
  .mt-5 {
    margin-top: 10px;
  }

  .center-content h1 {
    font-size: 16px;
    line-height: 24px;
  }
  .center-content p {
    padding: 0px 15px;
  }
  .displaynone {
    display: none;
  }
  .mar10 {
    margin: 10px 0px;
  }

  .confirmMap {
    /* height: 30vh; */
    height: 185px;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .sechduleBody1 {
    height: 35%;
  }

  .pickcardesc p {
    font-family: poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */
    text-transform: capitalize;
    color: #212545;
  }

  /* .picCard img {
    width: auto;
  } */
  .picCard {
    margin: 0;
  }
  .picCard img {
    border-radius: 10px;
    height: 78px;
    width: 86px;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .text-selct label {
    width: 75%;
    /* margin: 0px 10px; */
    margin: 0;
  }
  /* step progress bar  */
  ._1hzhf {
    display: none;
  }
  /* privious and next button  */
  ._3uApM {
    display: none !important;
  }

  .secondContentH {
    height: auto;
  }
  .btnSec {
    position: relative;
    top: 50%;
    right: 0px;
    bottom: 10%;
  }

  .btnSecconfirm {
    position: relative;
    top: 0%;
    right: 0px;
    bottom: 10%;
    float: right;
    margin: 20px 0px;
    width: 100%;
  }

  .dflex {
    position: relative;
    top: 0;
    text-align: center !important;
  }

  .chooseBTn {
    padding: 15px 30px;
  }

  .innercontent {
    height: 100vh;
    position: relative;
    top: 5%;
    padding: 10px;
  }

  .centerDiv {
    width: 100%;
  }
  .centerDiv1 {
    width: 100%;
  }

  .headTextContent {
    /* position: relative; */
    top: 2%;
  }

  /* .marAuto{
    margin: auto;
    width: 100%;
    padding: 15px 26px;
} */
  .bggray {
    background-color: white;
  }
  .confirm-heading {
    margin: 0px;
    font-size: 28px;
    line-height: 30px;
    text-align: left;
  }
  .sechduleBody3 {
    height: 20%;
    position: relative;
    top: 0%;
  }
}

.text-heading {
  font-size: 20px !important;
  font-weight: 900 !important;
  text-align: center;
}

.optionHide {
  display: none;
  border: none;
  outline: none;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 768px) {
  /* height property css  */

  .height9 {
    height: auto;
  }

  .height100vh {
    height: auto;
    /* border: 1px solid red; */
  }

  .height10 {
    height: auto;

    /* border: 1px solid red; */
  }

  .height15 {
    height: auto;
    /* border: 1px solid rgb(107, 96, 170); */
  }

  .height20 {
    height: auto;
    /* border: 1px solid red; */
  }

  .height25 {
    height: auto;
    /* border: 1px solid darkblue; */
  }

  .height30 {
    height: auto;
    /* border: 1px solid red; */
  }
  .height35 {
    height: auto;
    /* border: 1px solid red; */
  }
  .height40 {
    height: auto;
    /* border: 1px solid blue;         */
  }
  .height45 {
    height: auto;
    /* border: 1px solid blue;  */
  }

  .height50 {
    height: auto;
    /* border: 1px solid red; */
  }
  .height55 {
    height: auto;
  }
  .height60 {
    height: auto;
    /* border: 1px solid red; */
  }
  .height70 {
    height: auto;
    /* border: 1px solid red; */
  }
  .height80 {
    height: auto;
    /* border: 1px solid red; */
  }
  .height90 {
    height: auto;
    /* border: 1px solid red; */
  }
  .height98 {
    height: auto;
    /* border: 1px solid rgb(0, 255, 200); */
  }
  .height100 {
    height: auto;
    /* border: 1px solid rgb(47, 0, 255); */
  }
  .secondContentH {
    height: auto;
  }
  .height94vh {
    height: auto;
  }

  /* landing page responsive css  */
  .hideContent {
    display: none;
  }
  .marTopBot20 {
    margin: 20px 0px;
  }
  .marTopBot10 {
    margin: 10px 0px;
  }
}

@media only screen and (max-width: 768px) {
  .marTop75 {
    margin: 0;
  }
  .mapContent img {
    width: 100%;
    height: 333px !important;
    /* object-fit: contain; */
  }
  /* landing page responsive css  */
  .delarshipBtn,
  button {
    box-sizing: border-box !important;
    width: 100% !important;
  }
  .reverseButtonOrder {
    display: flex;
    flex-direction: column-reverse;
  }
  .reverseButtonOrder > button {
    max-width: 100% !important;
    width: 95% !important;
  }
  /* .fixedPos {
    width: 100%;
    padding: 0% 5% 5% 5%;
    background-color: white;
 */

  .fixedPos {
    position: fixed !important;
    bottom: 0px;
    width: 100%;
    padding: 0% 5% 5% 5%;
    right: 1%;
    padding: 0% 5%;
    background-color: white;
  }

  .hideContent {
    display: none;
  }
  .marTopBot20 {
    margin: 20px 0px;
  }
  .marTopBot10 {
    margin: 10px 0px;
  }
  .sechduleBody {
    height: 0%;
  }
  .progContent {
    height: 0%;
  }
  /* step progress bar  */
  span.StepBar_stepNameBox__3Q-Ja {
    text-align: center;
    font-family: poppins;
    font-style: normal;
    /* font-weight: 500; */
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #212545;
  }
  span.StepBar_pathEnd__xI7cI {
    min-height: 63px;
  }
  .StepBar_stepNumberBox__3HFHt {
    height: auto !important;
  }

  .StepBar_stepNameBoxInactive__2jIGX {
    width: auto;
    margin-left: 17px;
  }
  .StepBar_step__XceVV {
    height: auto;
  }
  /* end  */
  .secondContentH {
    height: auto;
  }
  .carSlidercss li.thumb {
    width: 30.3% !important;
  }

  /* basic info page responsive css  */

  .slctText {
    width: 114px;
    height: 50px;
    background: #f8f8fd;
    border-radius: 10px;
    /* margin-right: 13px; */
    outline: none;
    border: none;
    font-family: poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 19px;
    color: #212545;
    background: url('./../public/down-arrow.svg') no-repeat right #f8f8fd;
    background-position-x: 90px;
    -webkit-appearance: none;

    padding: 0 9px 0 15px !important;
    -webkit-padding-end: 31px !important;
  }

  .agreeMentSection {
    margin-top: 30px;
  }
  .btn-content button {
    margin: 5px 10px;
    width: 100%;
  }
  /* input file button css  */
  .btn-content .btn {
    width: 100%;
  }
  .choseimgSec1 img {
    width: 100%;
    border-radius: 16px;
    /* width: 50%; */
    margin: auto;
    height: 162px;
    object-fit: cover;
  }

  /* verify page responsive css  */
  .loaderContent {
    margin: 20px 0px;
  }
  .loaderContentp {
    margin: 40px 0px;
  }
  .loader {
    height: 75px;
    width: 75px;
  }

  /* confirm dilaog page responsive  */
  .top50p {
    position: relative;
    top: 0;
  }
  /* .carSlidercss .carousel .slide img {
    height: 155px;
  } */

  .setcarSlidercss .carousel .control-prev.control-arrow:before {
    border: none !important;
    content: url('./../public/prev.png') !important;
  }
  .setcarSlidercss .carousel .control-next.control-arrow:before {
    border: none !important;
    content: url('./../public/next.png') !important;
  }
  .setcarSlidercss .carousel.carousel-slider .control-arrow:hover {
    background: none !important;
  }
  .setcarSlidercss .carousel .control-arrow,
  .carousel.carousel-slider .control-arrow {
    opacity: 1 !important;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 768px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
@media only screen and (max-width: 768px) {
  .slctstyle {
    margin-bottom: 10px;
  }

  /* .stepWizardContainer {
    overflow-y: auto;
  } */
  ._2Mxry___spotpicker-Wrapper__cls1._3mrxU___spotpicker-Wrapper__isTabletDown {
    min-height: auto !important;
  }
}
